<h2><%= t(".title")%> <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%=t(".confirmation_email")%> <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: t(".password_hind"),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t(".current_password_hind"),
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".submit") %>
  </div>
<% end %>

<h3><%= t(".del_title")%></h3>

<p><%=t(".question_del")%> <%= link_to t(".del_account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t(".back_buttom"), :back %>
