<p><b><%= @user.name %></b>, здравствуйте!</p>

<p> Координатор <b><%= @moderator.name %></b> из фонда <b><%= @organization.title %></b> добавила вас в аккаунт фонда. Теперь вы можете просматривать и выполнять просьбы этого фонда в мобильном приложении Helphub.</p>

<p>Скачайте приложение <%= link_to 'helphub.ru для iOS', 'https://apps.apple.com/us/app/id1525392141'%> </p>
<p>Скачайте приложение <%= link_to 'helphub.ru для Android', 'https://play.google.com/store/apps/details?id=com.helphub'%></p>

<p>В качестве логина используйте этот имейл <b><%= @user.email %> </b>. Используйте пароль, заданный Вами при регистрации.</p>
<p>Если вы забыли пароль - ничего страшного, нажмите ссылку Забыли пароль в приложении и придумайте новый.</p>

<p>
  С уважением,<br/>
  Команда HelpHub<br/>
</p>

<p>Вопросы? Напишите нам на <a href="mailto:hello@helphub.ru">hello@helphub.ru</a></p>
