<p><b><%= @moderator.name %></b>, здравствуйте!</p>

<p> В фонд <b><%= @organization.title %> поступила регистрация нового волонтера</b></p>
<p><b> <%= @user.name %></b></p>
<p><b> <%= @user.email %></b></p>
<p><b> <%= @user.phone %></b></p>
<p>Свяжитесь c волонтером, а потом одобрите его доступ к просьбам 
фонда в интерфейсе администратора. </p>

  С уважением,<br/>
  Команда HelpHub<br/>
</p>

<p>Вопросы? Напишите нам на hello@helphub.ru</p>
