<div class="container d-flex flex-column align-items-center">
  <h2><%= t(".title")%></h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password,
                  label: t(".enter_label_password"),
                  required: true,
                  autofocus: true,
                  hint: ("#{t(".hind1")} #{@minimum_password_length} #{t(".hind2")}" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: t(".label_confirmation"),
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".submit_button"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
  
