<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% title = current_user.admin? ?  'HelpHub' : "HelpHub: #{current_user.organization.title}" %>
  <a class="navbar-brand" href="#"><%= title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% organizations_menu =  current_user.admin? ? ["Организации", admin_organizations_path] : ['', root_path]%>
      <%
        menu = [
          organizations_menu,
          ["Пользователи", admin_users_path],
          ["Заявки", admin_help_requests_path]
        ]
      %>
      
      <% menu.each do |(name, url)| %>
        <li class="nav-item <%= request.path.include?(url) ? 'active' : ''%>">
          <%= link_to name, url, class: 'nav-link' %>
        </li>
      <% end %>

      <div style='position: absolute; right: 20px'>
        <b class='mr-1'><%= current_user.email %></b>
        <%= link_to "Выйти", destroy_user_session_path,
          method: :delete,
          class: 'btn btn-outline-danger align-self-end'
        %>
      </div>
    </ul>
  </div>
</nav>
