<div style="position: absolute; top: 0; left: 0; width: 100%;height: 100%;overflow: hidden;">
  <div class="container">
    <p>
      <h1 style="text-align:center"><%= t(".title")%></h1>
      <%= render "shared/registration_steps", step: :waiting_for_moderator %>
    </p>
    
    <div>
      <p>
        <%= t(".content_start") %> "<%= params[:organization] %>".
        <%= t(".content_end") %>
      </p>
      <p>
         <%= t(".footer") %> <a href="mailto:@hello@helphub.ru">hello@helphub.ru</a>
      </p>
      <%= render partial: 'svg/logo' %>
    </div>
  <div>
<div>