<h4>Заявки</h4>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col" style="width: 15%">Статус</th>
    <th scope="col">Адрес</th>
    <th scope="col">Телефон</th>
    <th scope="col">ФИО</th>
    <th scope="col">Комментарий</th>
  </tr>
  </thead>
  <% help_requests.each do |record| %>
    <tr>
      <td style="width: 15%">
        <%= help_request_state_label(record).html_safe %>
        <div>Заявка №<%= record.id %></div>
      </td>
      <td><%= record.address %></td>
      <td><%= record.phone %></td>
      <td><%= record.person %></td>
      <td><%= record.comment %></td>
    </tr>
  <% end %>
</table>
