<div class="container d-flex flex-column align-items-center">
  <h2><%= t "devise.invitations.edit.header" %></h2>

  <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :invitation_token, readonly: true %>
    <% if f.object.class.require_password_on_accepting %>
      <div class="form-inputs">
        <%= f.input :password,
                    label: t(".enter_password_new"),
                    required: true,
                    autofocus: true,
                    hint: ("#{t(".hind1")} #{@minimum_password_length} #{t(".hind2")}" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: t(".label_confirmation"),
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, t(".submit_button"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
