<div class="container d-flex flex-column">
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name),
    html: { class: "align-self-center w-35", method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="field form-group">
        <%= f.label field %><br />
        <%= f.text_field field, class: "form-control" %>
      </div>
    <% end -%>

    <div class="actions form-group">
      <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
