<% title = help_request_kind.new_record? ? "Новый вид просьбы" : "Вид просьбы: #{help_request_kind.name}" %>
<p><h3><%= title %></h3></p>
<%= simple_form_for [:admin, help_request_kind], wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= render 'custom_fields', f: f %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.submit(help_request_kind.new_record? ? 'Создать' : 'Сохранить', class: 'btn btn-primary') %>
      <%= link_to('Отмена', admin_help_request_kinds_path, class: 'btn btn-outline-secondary align-self-start') %>
      <% unless help_request_kind.new_record? %>
        <%= link_to('Удалить', admin_help_request_kind_path(help_request_kind),
                    method: :delete,
                    data: { confirm: 'ВНИМАНИЕ: Удаление повлечет за собой удаление дополнительных полей у всех просьб этого вида. Вы уверены в удалении?' },
                    class: 'btn btn-outline-danger align-self-start')
        %>
      <% end %>
    </div>
  </div>
<% end %>
