<%= link_to(t(".new_kind_link"),
            new_admin_help_request_kind_path,
            class: 'btn btn-sm btn-success float-right my-3')
%>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col"><%= t(".name_column") %></th>
    <th><%= t(".default_column") %></th>
    <th></th>
  </tr>
  </thead>
  <% @help_request_kinds.each do |record| %>
    <tr>
      <td><%= record.name %></td>
      <td>
        <% if record.default? %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      </td>
      <td style="width: 10%">
        <%= link_to(t(".edit"), edit_admin_help_request_kind_path(record), class: 'btn btn-sm btn-outline-primary') %>
      </td>
    </tr>
  <% end %>
</table>
