<%= form_tag admin_help_requests_path, method: 'GET', class: 'mb-4' do %>
  <div class='d-flex justify-content-between align-items-center flex-column flex-md-row'>
    <div class='col-12 col-md-6 py-2 py-md-0 pl-0'>
      <div class="input-group m-0">
        <%= text_field_tag :search, params[:search], placeholder: t(".search_placeholder"), class: 'form-control form-control-sm' %>
        <div class="input-group-append">
          <%= submit_tag t(".submit_search"), class: 'btn btn-sm btn-outline-success mr-2' %>
          <%= link_to t(".cancel_filters"), admin_help_requests_path, class: 'btn btn-sm btn-outline-secondary' %>
        </div>
      </div>
    </div>
    <!-- <div class='col-12 col-md-4 d-flex justify-content-center py-2 py-md-0'>
      <div class="field form-check">
        <%#= check_box_tag :overdue, true, params[:overdue], class: 'form-check-input' %>
        <%#= label_tag :overdue, 'Показать просроченные просьбы', class: 'mb-0' %>
      </div>
    </div> -->
    <div class='col-12 col-md-4 d-flex justify-content-center justify-content-md-end py-2 py-md-0 pr-0'>
      <%= link_to(t(".new_helprequest"), new_admin_help_request_path, class: 'btn btn-sm btn-success') %>
    </div>
  </div>

  <div class='form-inline mt-3'>
    <div class='col-12 col-md-2 py-2 py-md-0 pl-0'>
      <div class="input-group m-0">
        <%= text_field_tag :number, params[:number], placeholder: t(".number"), class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <%= select_tag :states,
                     options_for_select(HelpRequest.states.map { |state| [I18n.t("help_request.states.#{state[0]}"),
                                                                          state[0],
                                                                          {class: ''}] },
                                        params[:states]),
                     title: t(".by_status"),
                     multiple: true,
                     class: 'selectpicker' %>
    </div>
    <% if @users.size > 1 %>
      <div class="form-group mb-2">
        <%= select_tag :creator_id,
                      options_for_select(@users.map { |user| ["#{user.name} <#{user.email}>", user.id, {class: ''}] },
                                          params[:creator_id]),
                      title: t(".by_creator"),
                      multiple: true,
                      class: 'selectpicker' %>
      </div>
    <% end %>
    <div class='col-4'>
      <%= t(".find")%> <b><%= @help_requests_count %></b>
    </div>
  </div>
<% end %>
