<% title = help_request.new_record? ? "Новая заявка" : "Заявка № #{help_request.id}" %>
<h3><%= title %></h3>
<p><span><%= help_request_state_label(help_request).html_safe %></span></p>
<% if (help_request.assigned? || help_request.submitted?) %>
  <% volunteer = help_request.volunteer %>
  <% if volunteer %>
    <div class="alert alert-info mr-5" role="alert">
      <strong>Волонтер:</strong>
      <%= link_to volunteer.email, edit_admin_user_path(volunteer) %>
    </div>
    <% end %>
<% end %>
<%= form_for([:admin, help_request], html: { class: 'mr-5' }) do |f| %>
  <div class="form-group">
    <%= f.text_field :lonlat_geojson, class: 'form-control', placeholder: 'Точка на карте' %>
  </div>
  <div class="form-group">
    <%= f.text_area :address, class: 'form-control', placeholder: 'Адрес' %>
  </div>
  <div class="form-group">
    <%= f.text_field :phone, class: 'form-control', placeholder: 'Телефон' %>
  </div>
  <div class="form-group">
    <%= f.text_field :person, class: 'form-control', placeholder: 'ФИО' %>
  </div>
  <div class="form-group">
    <%= f.text_area :comment, class: 'form-control', placeholder: 'Комментарий' %>
  </div>
  <%= f.submit('Сохранить', class: 'btn btn-primary') %>
  <%= f.submit('Заблокировать', name: :block, class: 'btn btn-warning') unless help_request.blocked? %>
  <%= f.submit('Активировать', name: :activate, class: 'btn btn-success') if help_request.blocked? %>
  <%= link_to('Отмена', admin_help_requests_path, class: 'btn btn-outline-secondary align-self-start') %>
  <% unless help_request.new_record? %>
    <%= link_to('Удалить', admin_help_request_path(@help_request), 
      method: :delete,
      data: { confirm: 'Вы уверены что хотите удалить заявку?' },
      class: 'btn btn-outline-danger align-self-start') 
    %>
  <% end %>
<% end %>
