<div>
  <%= f.check_box :recurring, { 'data-toggle':'collapse',
'data-target':'#collapsePeriod'}, true, false %>
  <%= label_tag :help_request_recurring, t(".regular_help") %>
</div>

<div class="collapse <%= 'show' unless (@help_request.recurring).blank? %>" id="collapsePeriod">
  <div class='form-inline'>
    <%= label_tag :help_request_period, 'каждые' %>
    <div class="form-group col-md-1">
      <%= f.input :period,
                  label: false,
                  input_html: { min: "1", class: "w-50" }%>
    </div>
    <%= label_tag :help_request_period, t(".period"), class: "col-1" %>
  </div>
</div>
