<h3>Список Заявок</h3>
<%= render 'filters' %>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
    <th scope="col" style="width: 15%">Статус</th>
    <th scope="col">Адрес</th>
    <th scope="col">Телефон</th>
    <th scope="col">ФИО</th>
    <th scope="col">Комментарий</th>
    <th scope="col">Последнее изменение</th>
    <th scope="col" style="width: 10%"></th>
    </tr>
  </thead>
  <% @help_requests.each do |record| %>
    <tr>
      <td style="width: 15%">
        <%= help_request_state_label(record).html_safe %>
        <div>Заявка №<%= record.number %></div>
      </td>
      <td><%= record.address %></td>
      <td><%= record.phone %></td>
      <td><%= record.person %></td>
      <td><%= record.comment %></td>
      <td><%= l(record.updated_at || record.created_at, format: :short) %></td>
      <td style="width: 10%"><%= link_to('Редактировать', edit_admin_help_request_path(record), class: 'btn btn-outline-primary') %></td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to('Новая заявка',
    new_admin_help_request_path,
    class: 'btn btn-outline-secondary align-self-start my-3')
  %>
</p>
