<table>
  <tr>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>ФИО</th>
    <th>Комментарий</th>
    <th></th>
  </tr>
  <% @help_requests.each do |record| %>
    <tr>
      <td><%= record.address %></td>
      <td><%= record.phone %></td>
      <td><%= record.person %></td>
      <td><%= record.comment %></td>
      <td><%= link_to('Редактировать', edit_admin_help_request_path(record), class: 'btn btn-primary') %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to('Новая заявка', new_admin_help_request_path, class: 'btn btn-default') %>
</p>