
<div class="container">
  <%= render 'filters' %>
  <div class="row">
    <div class="col">
      <div style="overflow: scroll;">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="position-sticky" style="width: 15%; left: 0;"><%= sort_link 'state', 'Статус' %></th>
              <th scope="col"><%= sort_link 'created_at', 'Создана' %></th>
              <th scope="col">Адрес</th>
              <th scope="col">ФИО</th>
              <th scope="col">Комментарий</th>
              <th scope="col">Волонтер</th>
              <th scope="col"><%= sort_link 'period', 'Повтор, дн' %></th>
              <th scope="col"><%= sort_link 'updated_at', 'Последнее изменение' %></th>
            </tr>
          </thead>
          <tbody>
            <% @help_requests.each do |record| %>
              <% help_request = HelpRequestPresenter.new(record) %>
              <tr>
                <td class="position-sticky" style="width: 15%; left: 0; background-color: #fff;">
                  <%= help_request_state_label(help_request).html_safe %>
                  <% title = help_request.title.present? ? "(#{help_request.title})" : '' %>
                  <div><%= link_to "Просьба №#{help_request.number}" << " #{title}", edit_admin_help_request_path(help_request.id) %>
                  </div>
                </td>
                <td><%= print_datetime(help_request.created_at) %></td>
                <td><%= help_request.address %></td>
                <td><%= help_request.person %></td>
                <td><%= truncate(help_request.comment, length: 50) %></td>
                <% volunteer = help_request.volunteer %>
                <td><%= link_to user_label(volunteer), edit_admin_user_path(volunteer) if volunteer %></td>
                <td><%= help_request.period %></td>
                <td><%= print_datetime(help_request.updated_at || help_request.created_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @help_requests, theme: 'twitter-bootstrap-4' if @help_requests.any? %>
      </div>
    </div>
  </div>
</div>
