<h4>Вы добавлены в фонд <b> <%= organization.title %></b> </h4>

<p><b><%= @email %></b>, здравствуйте!</p>

<p> Координатор фонда <b> <%= organization.title %> <%= moderator.name%> </b> добавила вас в аккаунт фонда. Теперь вы можете просматривать и выполнять просьбы этого фонда в мобильном приложении Helphub.</p>

<p>Скачайте приложение на айфон <%= link_to 'helphub.ru for Ios', 'https://apps.apple.com/us/app/id1525392141'%> </p>
<p>Скачайте приложение на андроид <%= link_to 'helphub.ru for Android', 'https://play.google.com/store/apps/details?id=com.helphub'%></p>

<p>В качестве логина используйте этот имейл <b><%= @email %> </b>. Пароль вы задали сами несколько дней назад, когда заполняли форму регистрации.</p>
<p>Если вы забыли пароль - ничего страшного, нажмите ссылку Забыли пароль в приложении и придумайте новый.</p>

<p>
  С уважением,<br/>
  Команда HelpHub<br/>
</p>

<p>Вопросы? Напишите нам на hello@helphub.ru</p>


<p><%= link_to 'Войти', new_session_path(resource_name) %></p>