<% title = user.new_record? ? "Новый пользователь" : "Пользователь #{user.email}" %>
<p><h3><%= title %></h3></p>
<%= simple_form_for [:admin, user], wrapper: :horizontal_form do |f| %>

  <%= f.error_notification %>

  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :phone %>

  <%= f.input :email, required: true, input_html: { autocomplete: 'email' } %>

  <% if current_user.admin? %>
    <%= f.input :admin, as: :boolean do %>
      <%= f.check_box :admin, {checked: user.admin? }, "true", "false" %>
    <% end %>
  <% end %>

  <%= f.input :moderator, as: :boolean do %>
    <%= f.check_box :moderator, {checked: user.moderator? }, "true", "false" %>
  <% end %>

  <%= f.input :volunteer, as: :boolean do %>
    <%= f.check_box :volunteer, { checked: user.volunteer? }, "true", "false" %>
  <% end %>

  <% if current_user.admin? %>
    <%= f.input :score %>
  <% else %>
    <%= f.input :score, disabled: true%>
  <% end %>

  <% if current_user.admin? %>
    <%= f.input :organization_id, 
      collection: Organization.active.pluck(:title, :id)
    %>
  <% end %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.submit(user.new_record? ? 'Создать' : 'Сохранить', class: 'btn btn-primary') %>
      <%= link_to('Отмена', admin_users_path, class: 'btn btn-outline-secondary align-self-start') %>
      <% unless user.new_record? %>
        <%= link_to('Удалить', admin_user_path(@user),
                    method: :delete,
                    data: { confirm: 'Вы уверены что хотите удалить пользователя?' },
                    class: 'btn btn-outline-danger align-self-start')
        %>
      <% end %>
    </div>
  </div>
<% end %>
