<%= link_to(t(".new_user"),
            new_admin_user_path,
            class: 'btn btn-sm btn-success float-right my-3')
%>
<%= render 'filters', users_count: @users_count %>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col"><%= t(".lastname") %></th>
    <th scope="col"><%= t(".firstname") %></th>
    <th scope="col"><%= t(".phone") %></th>
    <th scope="col"><%= t(".email") %></th>
    <th scope="col"><%= t(".organization") %></th>
    <th scope="col"><%= t(".sex") %></th>
    <th scope="col"><%= t(".role") %></th>
    <th scope="col"><%= t(".points") %></th>
    <th scope="col" style="width: 10%"></th>
  </tr>
  </thead>
  <% @users.each do |record| %>
    <tr class="<%= "alert alert-warning" if record.pending? %>">
      <td><%= record.surname %></td>
      <td><%= record.name %></td>
      <td><%= record.phone %></td>
      <td><%= record.email %></td>
      <td>
        <% if record.organization %>
          <div><%= record.organization.title %></div>
        <% else %>
          <div class="font-italic"><%= t(".not_assigned") %></div>
        <% end %>
      </td>
      <td>
        <% if record.sex %>
          <%= sex_field(record) %>
        <% end %>
      </td>
      <td><%= I18n.t(record.role, scope: [:roles]) %></td>
      <td><%= record.score %></td>
      <td style="width: 10%"><%= link_to(t(".edit"), edit_admin_user_path(record), class: 'btn btn-sm btn-outline-primary') %></td>
    </tr>
  <% end %>
</table>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
