<!DOCTYPE html>
<html>
  <head>
    <title>Covihelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container d-flex flex-column pt-5">
      <% if current_user %>
        <%= link_to "Выйти", destroy_user_session_path,
          method: :delete,
          class: 'btn btn-outline-danger align-self-end my-3',
          style: "position: absolute; top: 20px;"
        %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
